/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
	margin: 0;
	font-family: Inter, Helvetica, sans-serif;
	font-weight: bold;
}
body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	background-image: url("../img/background.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
body:before {
	content: "";
	position: absolute;
	width : 100%;
	height: 100%;
	background: inherit;
	z-index: -1;

	filter        : blur(3px);
	-moz-filter   : blur(3px);
	-webkit-filter: blur(3px);
	-o-filter     : blur(3px);

	transition        : all 2s linear;
	-moz-transition   : all 2s linear;
	-webkit-transition: all 2s linear;
	-o-transition     : all 2s linear;
}
#info_holder {
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}
#info_holder > * {
	position: absolute;
	display: block;
	transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}
#cover {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background: rgb(255,255,255);
	/* background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); */
	right: 100vw;
}
header {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 2;
	display: inline-flex;
	flex-direction: row;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.4);
}
header > img {
	width: 10vw;
}
#nav-sort {
	width: 20vw;
	margin: 1rem;
	padding-top: 1rem;
	margin-top: 5rem;

	border: 3px solid white;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.8);
}
#nav-sort * {
	text-align: center;
}
#nav-sort > *:first-child {
	/* This will always be the title */
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 1rem;
	padding: 0.5rem;

	border: 3px solid black;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.8);
}
#nav-sort > ul {
	list-style: none;
	padding-inline-start: 0; /* In order to compensate for default padding on inline start */
}
#nav-sort > ul > li {
	margin-bottom: 1rem;
	border: 3px solid white;
	border-radius: 3px;
	background: rgba(255, 255, 255, 1);
	margin-right: 10%;
	margin-left: 10%;
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}
#nav-sort > ul > li.active {
	background: black;
	border: 3px solid black;
	color: white;
}
#main {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#main-search {
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	overflow-x: hidden;
	margin-top: 5rem;
	padding-right: 1rem;
}
#main-search.explore {
	padding-left: 1rem;
}
#main-search > span {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid white;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.8);
	padding: 1rem;
	aspect-ratio: 1;
}
#main-search > span > img {
	max-width: 100%;
	max-height: 100%;
}
#front_logo {
	margin-top: 20%;
	margin-bottom: 3rem;
}
#categories {
	margin-left: 1rem;
	margin-right: 1rem;
}
#searcharea {
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	background: white;
}
#searchbar {
	height: 24px; /* Size of search picture */
	border: 2px solid black !important;
	border-style: hidden solid hidden solid !important;
	outline: none !important;
	padding-left: 1rem;
}
#search_hints {
	width: 60%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;
}
#search_hints > *:first-child {
	color: white;
}
#search_hints > *:not(:first-child) {
	display: block;
	background: white;
	border-radius: 3px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
#search_hints > * {
  margin: 6px;
  padding: 4px;
}
footer {
	width: 100%;
	height: 20%;
	
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#explore_text {
	color: white;
	cursor: pointer;
}

/* Following is for the keyframing and animations */
@keyframes explore_text_animation {
	from {margin-right: 6vw;}
	50% {margin-right: 2vw;}
	to {margin-right: 6vw;}
}

#explore_text {
	animation-name: explore_text_animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	font-size: 1.2rem;
}

@keyframes uncover_right_animation {
	from {right: 100vw;}
	to {right: 0;}
}

#cover {
	transition: right 0.5s;
	transition-timing-function: ease-in-out;
	right: 0vw;
}
#cover.uncover_left {
	/*animation-name: uncover_right_animation;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;*/
	right: 100vw;
}
#cover.uncover_right {
	right: -100vw;
}
#cover.temp_hide {
	top: -100vh;
}
/* Following is media queries because properties set by the media queries needs to be prioritized */
@media only screen and (min-width: 540px) {
	#searchbar {
		width: 50vw;
	}
	#explore_text {
		font-size: 1.4rem;
	}
	footer {
		align-items: end;
	}
}
