/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
	margin: 0;
	font-family: Inter, Helvetica, sans-serif;
	font-weight: bold;
}
body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	background-image: url("../img/background.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
body:before {
	content: "";
	position: absolute;
	width : 100%;
	height: 100%;
	background: inherit;
	z-index: -1;

	filter        : blur(3px);
	-moz-filter   : blur(3px);
	-webkit-filter: blur(3px);
	-o-filter     : blur(3px);

	transition        : all 2s linear;
	-moz-transition   : all 2s linear;
	-webkit-transition: all 2s linear;
	-o-transition     : all 2s linear;
}
#info_holder {
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}
#info_holder > * {
	position: absolute;
	display: block;
	transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}
#cover {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background: rgb(255,255,255);
	/* background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); */
	right: 100vw;
}
header {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 2;
	display: inline-flex;
	flex-direction: row;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.4);
}
header > img {
	width: 10vw;
	display: none;
}
#nav-sort {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: 50vw;
	border-radius: 3px;
	border: 3px solid black;
	background: rgba(255, 255, 255, 1);
	padding: 3px;

	/* Exclusive for mobile */
	display: none;
}
#nav-sort.active {
	display: block;
}
#nav-sort * {
	text-align: center;
}
#nav-sort > *:first-child {
	/* This will always be the title */
	margin-bottom: 3px;
	padding: 0.5rem;

	border: 3px solid black;
	border-radius: 3px;
}
#nav-sort > ul {
	list-style: none;
	padding-inline-start: 0; /* In order to compensate for default padding on inline start */
}
#nav-sort > ul > li {
	border: 3px solid white;
	border-radius: 3px;
	background: rgba(255, 255, 255, 1);
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}
#nav-sort > ul > li.active {
	background: black;
	border: 3px solid black;
	color: white;
}
#main {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#main-item {
	width: 100vw;
	margin-top: 5rem;
	margin-bottom: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}
#main-item .container{
	width: 70vw;
	min-height: 100%;
	background: rgba(255, 255, 255, 0.9);
	
	display: grid;
	grid-template-areas:	"img img"
				"des des"
				"dat dat";
	grid-template-columns:	1fr 1fr;
	grid-template-rows:	50vh auto auto;
	padding: 1rem;
}
#main-item .container .img {
	grid-area: img;

	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}
#data-container {
	grid-area: dat;
}
#data-container *:not(b){
	font-weight: normal;
}
#data-container .payment-container .icons > * {
	height: 15px;
	margin-right: 10px;
}
#description-container {
	grid-area: des;
}
#main-search {
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	overflow-x: hidden;
	margin-top: 4rem;
	margin-bottom: 1rem;

	padding-top: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
}
#main-search.explore {
	padding-left: 1rem;
}
#main-search > span {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 3px solid white;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.8);
	padding: 1rem;
	aspect-ratio: 1;
	transition: all 0.3s;
	cursor: pointer;
}
#main-search > span:hover {
	transform: perspective(200px) translateZ(10px);
}
#main-search > span > span.img {
	height: 80%;
	min-height: 80%;
	width: 100%;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}
#main-search > span > p {
	max-height: 20%;
	font-weight: normal;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	line-height: 1;

	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
	overflow: hidden;
}
#main-search > span > span:last-child {
	height: 5%;
	width: 100%;
	display: flex;
	flex-direction: row;
}
#main-search > span > span:last-child > h4:first-child {
	width: 50%;
	text-align: left;
}
#main-search > span > span:last-child > h4:last-child {
	width: 50%;
	text-align: right;
	color: rgba(0, 0, 0, 0.7);
	font-size: 0.9rem;
}
#front_logo {
	margin-top: 20%;
	margin-bottom: 3rem;
}
#searcharea {
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	background: white;
	align-items: stretch;
}
#categories-container {
	display: flex;
	align-items: center;
}
#categories {
	text-align: center;
	margin-left: 1rem;
	margin-right: 1rem;
}
#searchbar {
	height: 24px; /* Size of search picture */
	border: 2px solid black !important;
	border-style: hidden solid hidden solid !important;
	outline: none !important;
	padding-left: 1rem;
	padding-top: 0;
}
#search_btn:hover {
	background: #ccc;
}
#sort_btn:hover {
	background: #ccc;
}
#search_btn {
	cursor: pointer;
	transition: all 0.2s;
}
#sort_btn {
	border: 2px solid black !important;
	border-style: hidden hidden hidden dashed !important;
	cursor: pointer;
	transition: all 0.2s;
}
#search_hints {
	width: 60%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;
}
#search_hints > *:first-child {
	color: white;
}
#search_hints > *:not(:first-child) {
	display: block;
	background: white;
	border-radius: 3px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
#search_hints > * {
  margin: 6px;
  padding: 4px;
}
footer {
	width: 100%;
	height: 20%;
	
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#explore_text {
	color: white;
	cursor: pointer;
}

/* Following is for the keyframing and animations */
@keyframes explore_text_animation {
	from {margin-right: 6vw;}
	50% {margin-right: 2vw;}
	to {margin-right: 6vw;}
}

#explore_text {
	animation-name: explore_text_animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	font-size: 1.2rem;
}

@keyframes uncover_right_animation {
	from {right: 100vw;}
	to {right: 0;}
}

#cover {
	transition: right 0.5s;
	transition-timing-function: ease-in-out;
	right: 0vw;
}
#cover.uncover_left {
	/*animation-name: uncover_right_animation;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;*/
	right: 100vw;
}
#cover.uncover_right {
	right: -100vw;
}
#cover.temp_hide {
	top: -100vh;
}
/* Following is media queries because properties set by the media queries needs to be prioritized */
@media only screen and (min-width: 540px) {
	#main-search {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (min-width: 740px) {
	#main-search {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media only screen and (min-width: 940px) { 
	#main-search {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media only screen and (min-width: 1240px) { 
	header > img {
		display: block;
	}
	#searchbar {
		width: 50vw;
	}
	#explore_text {
		font-size: 1.4rem;
	}
	footer {
		align-items: end;
	}
	#main-item .container {
		grid-template-areas:	"img dat"
					"des dat";
		width: 50vw;
		grid-template-rows: 50vh auto auto;
	}
	#main-search {
		grid-template-columns: repeat(5, 1fr);
		width: 90vw;
	}
	#main-search.explore {
		padding-left: 10vw;
		padding-right: 10vw;
		width: 100vw;
	}
	#nav-sort {
		display: block;
		position: static; /* This is default value */
		width: 10vw;
		padding-top: 1rem;
		background: rgba(255, 255, 255, 0.8);
		margin: 1rem;
		margin-right: 0;
		margin-top: 5rem;
		transform: translate(0, 0);
		opacity: 100;
	}
	#nav-sort > *:first-child {
		margin-right: 10%;
		margin-left: 10%;
		margin-bottom: 1rem;
		background: rgba(255, 255, 255, 0.8);
	}
	#nav-sort > ul > li {
		margin-bottom: 1rem;
		margin-right: 10%;
		margin-left: 10%;
	}
	#sort_btn {
		display: none;
	}
}
